
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>DashBoard</h2>
<div style="text-align:right;">
    @Html.ActionLink("SignOut", "SignOut",new {@class="btn btn-primary" })
</div>