@model  List<MVCDynamic7amBatch.Models.employeeDetail>

@{
    ViewBag.Title = "SearchByDate";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>SearchByDate</h2>

<form action="~/Login/SearchByDate" method="post">
    <input type="date" name="dob" value="" class="form-control" />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th>EmployeeName</th>
        <th>Dob</th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpName</td>
                <td>@item.dob</td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="2" style="text-align:center">No Records</td></tr>
    }
</table>