@model MVCDynamic7amBatch.Models.EmployeeModel
@{
    ViewBag.Title = "getMeEmployeeDataUsingModel";
}

<h2>getMeEmployeeDataUsingModel</h2>

@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />
