@model List<MVCDynamic7amBatch.Models.EmployeeModel>
@{
    ViewBag.Title = "MyPartialViewExample1";
}

<h2>MyPartialViewExample1</h2>

<h1>Students Name</h1>

Anil<br />
Ashwini<br />
Monika<br />
Nilima<br />

@{
    var s=Html.Partial("_MyPartialView", Model);
    int a = 10;
    if (a == 10)
    {
        @s
    }
      }

@{
    Html.RenderPartial("_MyPartialView", Model);
    }